body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

div {
    width: 300px;
    border: 25px solid;
    padding: 25px;
    margin: 25px;
}